<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Эстетика лица и тела</title>
    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //For-Mobile-Apps -->

    <!-- Custom-Stylesheet-Links -->
    <link rel="icon" href="images/fav.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/lightbox.css">
    <!-- //Custom-Stylesheet-Links -->

    <!-- Web-Fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet'
          type='text/css'>
    <!-- //Web-Fonts -->
</head>
<body>
<div class="banner-agileits" id="banner">
    <div class="header-w3l">
        <div class="container">
            <!--            <div class="logo">-->
            <!--                <a href="index.html"><h2>Эстетика лица и тела</h2></a>-->
            <!--            </div>-->
            <!-- Navbar -->
            <div class="total-navbar">
                <nav class="navbar navbar-default">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div id="navbar" class="navbar-collapse navbar-right collapse hover-effect">
                        <ul class="nav navbar-nav">
                            <li><a href="#about" class="scroll">О НАС</a></li>
                            <li><a href="#massage" class="scroll">МАССАЖ</a></li>
                            <li><a href="#eyelashes" class="scroll">НАРАЩИВАНИЕ РЕСНИЦ</a></li>
                            <li><a href="#epilation" class="scroll">ЭЛЕКТРОЭПИЛЯЦИЯ</a></li>
                            <li><a href="#contacts" class="scroll">КОНТАКТЫ</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- //Navbar -->
        </div>
    </div>
    <div class="banner-text">
        <h2 style="letter-spacing: 0.05em;">Добро пожаловать в студию</h2>
        <h1 style="letter-spacing: 0.1em;">Эстетика Лица и Тела</h1>
        <div class="arrow">
            <a href="#contacts" class="scroll"><img src="images/arrow1.png" alt=" "/></a>
        </div>
    </div>
</div>

<div class="specialize" id="about">
    <div class="container">
        <div class="row">
            <h2 style="letter-spacing: 0.05em;color: #FFFFFF; margin-bottom: 50px">Уважаемый Гость, рады приветствовать Вас в нашей студии!</h2>
        </div>
        <div class="col-md-6 spgrids">
            <h3 style="letter-spacing: 0.05em;">Мы специализируемся на:</h3>
            <!--            <h5 class="special">>> Created from natural herbs – Ginseng roots extract</h5>-->
            <h5 style="letter-spacing: 0.05em;">Классическом массаже</h5>
            <h5 style="letter-spacing: 0.05em;">Коррекции фигуры</h5>
            <h5 style="letter-spacing: 0.05em;">Наращивании ресниц</h5>
            <h5 style="letter-spacing: 0.05em;">Коррекции и окрашивании бровей</h5>
            <h5 style="letter-spacing: 0.05em;">Электроэпиляции</h5>
        </div>
        <div class="col-md-6 specialize-right">
            <img src="images/19.jpg" alt=" "/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- massage -->
<div class="gallery" id="massage">
    <div class="container">
        <h3>Массаж</h3>
        <div class="staff">
            <div class="container">
                <div class="staff-top">
                    <div class="col-md-3 col-sm-3 staff-img staff-img1">
                        <img src="images/IMG_3203.jpg" alt=" "/>
                    </div>
                    <div class="col-md-9 col-sm-9  staff-text  staff-text1">
                        <h4 style="letter-spacing: 0.05em;">Евгения</h4>
                        <h5 style="letter-spacing: 0.05em;">Сертифицированный специалист по массажу и коррекции фигуры.</h5>
                        <p>
                            Массаж - это лучшее средство для хорошего настроения, позитивного мироощущения и самочувствия.
                            Улучшите тонус мышц, разгоните лимфу или молочную кислоту, снимите спазмы,
                            выведите соли, токсины, шлаки и лишнюю жидкость, улучшите гибкость связок и
                            восстановитесь после травм.
                        </p>
                        <ul>
                            <li><a class="telephone" href="tel:+79237962205"></a></li>
                            <li><a class="instagram" href="https://instagram.com/massaGenya_slav"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-grids">
            <div class="col-md-6 gallery-grid-left">
                <div class="gallery-grid">
                    <div class="view view-eighth vie g1">
                        <a href="images/g10.jpg" data-lightbox="example-set"
                           data-title="Описание после открытия к фото">
                            <img src="images/g10.jpg" alt=" " class="img-responsive"/>
                            <div class="mask rose">
                                <h4>Заголовок к фото 1</h4>
                                <p>Описание к фото 1</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-grid-left-grid">
                    <div class="gallery-grid-left-grid-left">
                        <div class="gallery-grid-left-grid-left-grid">
                            <div class="view view-eighth g2">
                                <a href="images/g5.jpg" data-lightbox="example-set"
                                   data-title="Описание после открытия к фото">
                                    <img src="images/g5.jpg" alt=" " class="img-responsive"/>
                                    <div class="mask mask1">
                                        <h4>Заголовок к фото 2</h4>
                                        <p>Описание к фото</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="gallery-grid-left-grid-left-grid">
                            <div class="view view-eighth g3">
                                <a href="images/g11.jpg" data-lightbox="example-set"
                                   data-title="Описание после открытия к фото">
                                    <img src="images/g11.jpg" alt=" " class="img-responsive"/>
                                    <div class="mask mask1">
                                        <h4>Заголовок к фото</h4>
                                        <p>Описание к фото</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-grid-left-grid-right">
                        <div class="view view-eighth g4">
                            <a href="images/g7.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g7.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask2">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото 3</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 gallery-grid-right">
                <div class="gallery-grid-right-grid">
                    <div class="gallery-grid-right1">
                        <div class="view view-eighth g5">
                            <a href="images/g1.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g1.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-grid-right2">
                        <div class="view view-eighth g6">
                            <a href="images/g3.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g3.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gallery-grid-right-grid">
                    <div class="gallery-grid-right1">
                        <div class="view view-eighth g7">
                            <a href="images/8.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/8.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask2">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото 3</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-grid-right2">
                        <div class="view view-eighth g8">
                            <a href="images/g8.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g8.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask2">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото 3</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gallery-grid-right-grid">
                    <div class="gallery-grid-right1">
                        <div class="view view-eighth g9">
                            <a href="images/g9.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g9.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-grid-right2">
                        <div class="view view-eighth g10">
                            <a href="images/g2.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g2.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<!-- //massage -->

<!--<div class="full-image">-->
<!--    <div class="container">-->
<!--        <div class="figrids-total">-->
<!--            <div class="col-md-4 col-sm-4 figrids figrid1">-->
<!--                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='3000' data-delay='.5' data-increment="1"></div>-->
<!--                <label class="line"></label>-->
<!--                <h5>Clients</h5>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-4 figrids figrid2">-->
<!--                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1005' data-delay='.5' data-increment="1"></div>-->
<!--                <label class="line"></label>-->
<!--                <h5>Procedures</h5>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-4 figrids figrid3">-->
<!--                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='800' data-delay='.5' data-increment="1"></div>-->
<!--                <label class="line"></label>-->
<!--                <h5>Treatments</h5>-->
<!--            </div>-->
<!--            <div class="clearfix"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- eyelashes -->
<div class="gallery" id="eyelashes">
    <div class="container">
        <h3>Наращивание ресниц</h3>
        <div class="staff">
            <div class="container">
                <div class="staff-top">
                    <div class="col-md-3 col-sm-3 staff-img staff-img1">
                        <img src="images/luda.jpg" alt=" "/>
                    </div>
                    <div class="col-md-9 col-sm-9  staff-text  staff-text1">
                        <h4 style="letter-spacing: 0.05em;">Людмила</h4>
                        <h5 style="letter-spacing: 0.05em;">Мастер по наращиванию ресниц и коррекции бровей.</h5>
                        <p>
                            Привет! Я Люда. В работе использую материалы только качественных брендов, сейанс длится очень быстро, результат
                            великолепный!
                            Хочешь выглядеть привлекательно-тебе ко мне! Будь красива 24/7
                        </p>
                        <ul>
                            <li><a class="telephone" href="tel:+79237121283"></a></li>
                            <li><a class="instagram" href="https://instagram.com/lashmaker_slavg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-grids">
            <div class="col-md-6 gallery-grid-left">
                <div class="gallery-grid">
                    <div class="view view-eighth vie g1">
                        <a href="images/g10.jpg" data-lightbox="example-set"
                           data-title="Описание после открытия к фото">
                            <img src="images/g10.jpg" alt=" " class="img-responsive"/>
                            <div class="mask rose">
                                <h4>Заголовок к фото 1</h4>
                                <p>Описание к фото 1</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-grid-left-grid">
                    <div class="gallery-grid-left-grid-left">
                        <div class="gallery-grid-left-grid-left-grid">
                            <div class="view view-eighth g2">
                                <a href="images/g5.jpg" data-lightbox="example-set"
                                   data-title="Описание после открытия к фото">
                                    <img src="images/g5.jpg" alt=" " class="img-responsive"/>
                                    <div class="mask mask1">
                                        <h4>Заголовок к фото 2</h4>
                                        <p>Описание к фото</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="gallery-grid-left-grid-left-grid">
                            <div class="view view-eighth g3">
                                <a href="images/g11.jpg" data-lightbox="example-set"
                                   data-title="Описание после открытия к фото">
                                    <img src="images/g11.jpg" alt=" " class="img-responsive"/>
                                    <div class="mask mask1">
                                        <h4>Заголовок к фото</h4>
                                        <p>Описание к фото</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-grid-left-grid-right">
                        <div class="view view-eighth g4">
                            <a href="images/g7.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g7.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask2">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото 3</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 gallery-grid-right">
                <div class="gallery-grid-right-grid">
                    <div class="gallery-grid-right1">
                        <div class="view view-eighth g5">
                            <a href="images/g1.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g1.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-grid-right2">
                        <div class="view view-eighth g6">
                            <a href="images/g3.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g3.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gallery-grid-right-grid">
                    <div class="gallery-grid-right1">
                        <div class="view view-eighth g7">
                            <a href="images/8.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/8.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask2">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото 3</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-grid-right2">
                        <div class="view view-eighth g8">
                            <a href="images/g8.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g8.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask2">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото 3</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gallery-grid-right-grid">
                    <div class="gallery-grid-right1">
                        <div class="view view-eighth g9">
                            <a href="images/g9.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g9.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-grid-right2">
                        <div class="view view-eighth g10">
                            <a href="images/g2.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g2.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<!-- //eyelashes -->

<!-- epilation -->
<div class="gallery" id="epilation">
    <div class="container">
        <h3>Наращивание ресниц</h3>
        <div class="staff">
            <div class="container">
                <div class="staff-top">
                    <div class="col-md-3 col-sm-3 staff-img staff-img1">
                        <img src="images/noimage.jpg" alt=" "/>
                    </div>
                    <div class="col-md-9 col-sm-9  staff-text  staff-text1">
                        <h4 style="letter-spacing: 0.05em;">Алёна</h4>
                        <h5 style="letter-spacing: 0.05em;">Мастер по электроэпиляции.</h5>
                        <p>
                            УДАЛЕНИЕ ВОЛОС НАВСЕГДА!<br/>
                            Стоимость любой зоны-20 рублей минута
                        </p>
                        <ul>
                            <li><a class="telephone" href="tel:+79619937405"></a></li>
                            <li><a class="instagram" href="https://instagram.com/electroepil_slv"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-grids">
            <div class="col-md-6 gallery-grid-left">
                <div class="gallery-grid">
                    <div class="view view-eighth vie g1">
                        <a href="images/g10.jpg" data-lightbox="example-set"
                           data-title="Описание после открытия к фото">
                            <img src="images/g10.jpg" alt=" " class="img-responsive"/>
                            <div class="mask rose">
                                <h4>Заголовок к фото 1</h4>
                                <p>Описание к фото 1</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-grid-left-grid">
                    <div class="gallery-grid-left-grid-left">
                        <div class="gallery-grid-left-grid-left-grid">
                            <div class="view view-eighth g2">
                                <a href="images/g5.jpg" data-lightbox="example-set"
                                   data-title="Описание после открытия к фото">
                                    <img src="images/g5.jpg" alt=" " class="img-responsive"/>
                                    <div class="mask mask1">
                                        <h4>Заголовок к фото 2</h4>
                                        <p>Описание к фото</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="gallery-grid-left-grid-left-grid">
                            <div class="view view-eighth g3">
                                <a href="images/g11.jpg" data-lightbox="example-set"
                                   data-title="Описание после открытия к фото">
                                    <img src="images/g11.jpg" alt=" " class="img-responsive"/>
                                    <div class="mask mask1">
                                        <h4>Заголовок к фото</h4>
                                        <p>Описание к фото</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-grid-left-grid-right">
                        <div class="view view-eighth g4">
                            <a href="images/g7.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g7.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask2">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото 3</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 gallery-grid-right">
                <div class="gallery-grid-right-grid">
                    <div class="gallery-grid-right1">
                        <div class="view view-eighth g5">
                            <a href="images/g1.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g1.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-grid-right2">
                        <div class="view view-eighth g6">
                            <a href="images/g3.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g3.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gallery-grid-right-grid">
                    <div class="gallery-grid-right1">
                        <div class="view view-eighth g7">
                            <a href="images/8.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/8.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask2">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото 3</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-grid-right2">
                        <div class="view view-eighth g8">
                            <a href="images/g8.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g8.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask2">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото 3</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gallery-grid-right-grid">
                    <div class="gallery-grid-right1">
                        <div class="view view-eighth g9">
                            <a href="images/g9.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g9.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-grid-right2">
                        <div class="view view-eighth g10">
                            <a href="images/g2.jpg" data-lightbox="example-set"
                               data-title="Описание после открытия к фото">
                                <img src="images/g2.jpg" alt=" " class="img-responsive"/>
                                <div class="mask mask1">
                                    <h4>Заголовок к фото 3</h4>
                                    <p>Описание к фото</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<!-- //epilation -->

<div class="contact" id="contacts">
    <div class="container">
        <div class="row">
            <h1 style="color: #FFFFFF;letter-spacing: 0.05em;">Контакты</h1>
            <br/>
            <h4 style="color: #FFFFFF;font-family: 'Open Sans', sans-serif">
                Вы можете найти нас по адресу:
                г. Славгород, 1й микрорайон, д.6 (вход с торца здания, бывший магазин "Огонек")</h4>
            <br/>
            <br/>
        </div>
        <div class="row" style="alignment: center">
            <div class="contact-left col-md-4 col-sm-4" style="margin-right: 0; width: 33.3%">
                <p style="font-size: 18px; color: #FFFFFF; text-align: center; padding-bottom: 15px">Записаться<br/> на массаж (Евгения)</p>
                <div class="mail">
                    <h4 style="color: #FFFFFF; letter-spacing: 0.1em; text-align: left;  padding-bottom: 5px">Телефон:</h4>
                    <p style="font-size: 18px; text-align: left;">
                        <a href="tel:+79237962205" style="color: #FFFFFF; letter-spacing: 0.05em;">+7-923-796-22-05</a>
                    </p>
                </div>
                <div class="mail">
                    <h4 style="color: #FFFFFF; letter-spacing: 0.1em; text-align: left;  padding-bottom: 5px">Инстаграм:</h4>
                    <p style="font-size: 18px; text-align: left;">
                        <a href="https://instagram.com/massaGenya_slav" style="color: #FFFFFF; letter-spacing: 0.05em;">massaGenya_slav</a>
                    </p>
                </div>
            </div>
            <div class="contact-left col-md-4 col-sm-4" style="margin-right: 0; width: 33.3%">
                <p style="font-size: 18px; color: #FFFFFF; text-align: center; padding-bottom: 15px">Записаться<br/> на наращивание ресниц (Людмила)
                </p>
                <div class="mail">
                    <h4 style="color: #FFFFFF; letter-spacing: 0.1em; text-align: left;  padding-bottom: 5px">Телефон:</h4>
                    <p style="font-size: 18px; text-align: left;">
                        <a href="tel:+79237121283" style="color: #FFFFFF; letter-spacing: 0.05em;">+7-923-712-12-83</a>
                    </p>
                </div>
                <div class="mail">
                    <h4 style="color: #FFFFFF; letter-spacing: 0.1em; text-align: left;  padding-bottom: 5px">Инстаграм:</h4>
                    <p style="font-size: 18px; text-align: left;">
                        <a href="https://instagram.com/lashmaker_slavg" style="color: #FFFFFF; letter-spacing: 0.05em;">lashmaker_slavg</a>
                    </p>
                </div>
            </div>
            <div class="contact-left col-md-4 col-sm-4" style="margin-right: 0; width: 33.3%">
                <p style="font-size: 18px; color: #FFFFFF; text-align: center; padding-bottom: 15px">Записаться<br/> на электроэпиляцию (Алёна)</p>
                <div class="mail">
                    <h4 style="color: #FFFFFF; letter-spacing: 0.1em; text-align: left;  padding-bottom: 5px">Телефон:</h4>
                    <p style="font-size: 18px; text-align: left;">
                        <a href="tel:+79619937405" style="color: #FFFFFF; letter-spacing: 0.05em;">+7-961-993-74-05</a>
                    </p>
                </div>
                <div class="mail">
                    <h4 style="color: #FFFFFF; letter-spacing: 0.1em; text-align: left;  padding-bottom: 5px">Инстаграм:</h4>
                    <p style="font-size: 18px; text-align: left;">
                        <a href="https://instagram.com/electroepil_slv" style="color: #FFFFFF; letter-spacing: 0.05em;">electroepil_slv</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="footer-w3">
    <div class="container">
        <p class="agileinfo"> &copy; 2021 Эстетика Лица и Тела. Все права защищены. | Developed by I.Vostrukhin</p>
    </div>
</div>


<!-- common js -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- //js -->
<!-- script for gallery -->
<script src="js/lightbox-plus-jquery.min.js"></script>
<!-- //script for gallery -->

<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->

<!-- Script For Number Scrolling -->
<script type="text/javascript" src="js/numscroller-1.0.js"></script>
<!-- //Script For Number Scrolling -->

<!-- start-smooth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- //start-smoth-scrolling -->

</body>
</html>